<h4>Internal Server Error</h4>
@if (error) {
    <h5>Error: {{error.message}}</h5>
    <p>Note: if you are seeing this errorthen angular is not to blame!</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools and check the failing network request in the network tab</li>
        <li>Examine the URL of the failing request</li>
        <li>Reproduce the error in Postman - if you can reproduce the error then angular is not to blame.</li>
    </ol>
    <p>Following is the stack trace - check the frist 2 lines this tells you exactly which line of code caused the problem!</p>
    <code>
        {{error.details}}
    </code>
}