<div class="homepage">
    <div class="content">

        @if(!registerMode){
        <h1 class="title">Share your gaming experiences!</h1>
        <p class="subtitle">All you need to do is sign up!</p>
        <div class="button-container">
            <button (click)="registerToggle()" class="register-button">Register</button>
        </div>
        } @else {
        <div>
            <div class="register-form-container">
                <div class="register-form-content">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"/>
                </div>
            </div>
        </div>
        }
    </div>


</div>