<header>
    <div class="navbar">
        <div class="logo"><a>GaneSnap</a></div>
        <ul class="links">
            <li><a>Smh</a></li>
            <li><a>Smh</a></li>
            <li><a>Smh</a></li>
            <li><a>Smh</a></li>
        </ul>
        <a class="action_btn">Smh</a>
        <div class="toggle_btn" (click)="toggleMenu()">
            <i [class]="toggleIcon"></i>
        </div>
    </div>

    <div class="dropdown_menu" [class.open]="isMenuOpen">
        <li><a>Smh</a></li>
        <li><a>Smh</a></li>
        <li><a>Smh</a></li>
        <li><a>Smh</a></li>
        <li><a>Smh</a></li>
    </div>
</header>